.stock-ticker {
	padding:8px 15px 8px 25px;
	width: 336px;
	margin: 40px 30px;

	background-color:#d3dbe6;
	color: black;
	border: 2px solid #63686e;
	border-radius:15px;

	-webkit-box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
}
#price {
	display: flex;
}
#green {
	margin: 20px 16px;
	color: green;
	font-size: 40px;
}
#red {
	margin: 20px 16px;
	color: red;
	font-size: 40px;
}
#doTime {
	padding: 8px 15px;
	margin: 40px 30px;
	background-color:#d3dbe6;
	color: black;
	border: 2px solid #63686e;
	border-radius:15px;

	-webkit-box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
}
#changeBtn {
	padding: 8px 15px;
	margin: 20px;
	background-color:#d3dbe6;
	color: black;
	border: 2px solid #63686e;
	border-radius:15px;

	-webkit-box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.75);
}
#doTime:focus, 
#changeBtn:focus {
	outline:none;
}